<p>ng-if works!</p>
<div *ngIf="isShow; else divElseShow">
  <div *ngIf=""></div>
  ngIf show</div>
<button (click)="show()">show</button>
<button (click)="off()">off</button>

<ng-template #divElseShow>
  <div>
    variable template # else sử dụng vs ng-template
    div else show
  </div>
</ng-template>

<p>---------ngIf--------</p>
<div *ngIf="isSignin">
  Tài Khoản<input type="text" name="" id="" [(ngModel)]="name"/>
  Mật Khẩu<input type="text"[(ngModel)]="password"/>
  <button (click)="button()">Đăng nhập</button>
</div>
<div *ngIf="isSignout">
  Welcome:  {{name}} with {{password}}
  <button (click)="button()">Đăng xuất</button>
</div>
